<html lang="en-US" class="no-js">
<head>
<title>Smart ATM</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../static/assets/css/bootstrap.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/assets/css/animate.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/style.css' type='text/css' media='all'/>

<link rel='stylesheet' href='../static/icons/elegantline/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='../static/assets/css/flexslider.css' type='text/css' media='all'/>


</head>
<body class="frontpage">
<!--<div class="page-loader">
	<img src="assets/img/loader.gif" alt="loader">
</div>-->

<!-- Header
================================================== -->
<header id="header">
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../static/index.html">
			<img src="../static/assets/img/logo-dark.png" alt="logo">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<a class="mobile-menu-close"><i class="fa fa-close"></i></a>
			<div class="menu-top-menu-container">
				<ul id="menu-top-menu" class="nav navbar-nav nav-list">
					<li><a href="/admin">Home</a></li>
					
					<li style="background: rgba(255, 255, 0, 0.51);"><a href="/view_cus">Account Holder</a></li>
					
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
	</nav>
</div>
</header>	

<!-- INTRO
================================================== -->


<!-- ABOUT
================================================== -->


<!-- TEAM
================================================== -->


<!-- SERVICES
================================================== -->		
<!-- COUNTERS
================================================== -->
<!-- PRICING
================================================== -->

<!-- TESTIMONIAL
================================================== -->

<!-- BLOG
================================================== -->
<!-- CONTACT
================================================== -->

<section id="contact" class="margintop60 nopadding" style="background:#50dcc9;">
		<div class="col-md-2 whitetext" style="padding: 60px; background-color: #50dcc9;">
			
		</div>
		<div class="col-md-8 whitetext" style="padding: 60px; background-color: #50dcc9;">
			<div class="textwidget">
				<h2 class="box"> <b>Account Holder Details</b></h2>	
				
				
									
				<div class="bottomform">										
					<form name="form1" method="post" action="" id="bottomcontactform">
						
  
  {% for x in result %}
			
			<div class="row" style="color:#000000; background-color:#FFFFFF">
				<div class="col-md-3"><h4>Account Holder</h4></div>
				<div class="col-md-3"><h4>{{x[1]}}</h4></div>
			
			</div>		
			
			<div class="row">
				<div class="col-md-3">Account Number</div>
				<div class="col-md-3">{{x[5]}}</div>
			
			</div>	
			<hr>
			<div class="row">
				<div class="col-md-3">Card Number</div>
				<div class="col-md-3">{{x[6]}}</div>
			
			</div>		
			<hr>
			<div class="row">
				<div class="col-md-3">Address</div>
				<div class="col-md-3">{{x[2]}}</div>
			
			</div>		
			<hr>
			<div class="row">
				<div class="col-md-3">Contact</div>
				<div class="col-md-3">{{ x[3] }} <br> {{x[4]}}</div>
			
			</div>		
			<hr>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-3"> 
				
				<a href="/add_photo?vid={{x[0]}}">Train Face</a> </div>
			
			</div>		
			<hr>
			{% endfor %}
					
					</form>
					
				</div>						
			</div>
		</div>
		<div class="clearfix"></div>
</section>
<!-- THE END OF SECTIONS -->	
	
<!-- FOOTER
================================================== -->
<footer id="footer" class="footer2">
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<small>
					 Smart ATM<a href="https://www.wowthemes.net/">
							  
							</a>
					</small>
				</div>
				<div class="col-md-6 text-right">
					<div class="footer-menu">
						<ul id="menu-footer-links" class="menu">
							<li><a href="#"><i class="fa fa-facebook"></i> Like us on Facebook</a></li>
							<li><a href="#"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- SCRIPTS
================================================== -->
<script src="../static/assets/js/jquery.js"></script>
<script src="../static/assets/js/plugins.js"></script>
<!--<script src="../static/contact/topvalidate.js"></script>
<script src="../static/contact/bottomvalidate.js"></script>-->

</body>
</html>
