<html lang="en-US" class="no-js">
<head>
<title>Smart ATM</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../static/assets/css/bootstrap.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/assets/css/animate.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/style.css' type='text/css' media='all'/>

<link rel='stylesheet' href='../static/icons/elegantline/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='../static/assets/css/flexslider.css' type='text/css' media='all'/>
</head>
<body class="frontpage">
<!--<div class="page-loader">
	<img src="assets/img/loader.gif" alt="loader">
</div>-->

<!-- Header
================================================== -->
<header id="header">
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">
			<img src="../static/assets/img/logo-dark.png" alt="logo">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<a class="mobile-menu-close"><i class="fa fa-close"></i></a>
			<div class="menu-top-menu-container">
				<ul id="menu-top-menu" class="nav navbar-nav nav-list">
					<li><a href="/userhome">Home</a></li>
					<li><a href="/balance">Balance</a></li>
					<li><a href="/withdraw">Withdrawal</a></li>
					<li><a href="/logout">Logout</a></li>
					
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
	</nav>
</div>
</header>	

<!-- INTRO
================================================== -->
<section id="home" style="padding:90px 0; background-color:#00D9D9; background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
	<div class="container">
		<div class="textwidget">
			<h1 class="toptitle">Cash Withdrawal <br/><br/><!--<i class="fa fa-star roundicon"></i>-->
			</h1>								
			<div class="whitetext" style="font-size:16px">				
			<form name="form1" method="post" action="" id="topcontactform">
			
			
				<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-3">
						Account Holder
						</div>
						<div class="col-md-3">
						: {{value[1]}}
						</div>
					</div>
					<br>	
					<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-3">
						Account Number
						</div>
						<div class="col-md-3">
						: {{value[5]}}
						</div>
					</div>
					<br>							
				
					<div class="row">
					<div class="col-md-3">
					
					</div>
					<div class="col-md-3">
					Cash Withdrawal
					</div>
					<div class="col-md-3">
							<input class="form-control main" type="text" name="amount" placeholder="Enter Amount" maxlength="5" required>
					</div>
					</div>
					<br>
					<div class="col-md-3">
					
					</div>
					<div class="col-md-3">
					
					</div>
					<div class="col-md-3">	
							<input type="submit" class="btn btn-main-sm" value="Submit">
							
							
					</div>
					{% if st=="1" %}
					<span style="color:#0033FF">{{msg}}</span>
					<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name={{name}}&mess={{mess}}&mobile={{mobile}}" width="10" height="10" ></iframe>
					<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/userhome';
}, 5000);
</script>
					{% endif %}
					
						{% if st=="2" %}
					<span style="color:#0033FF">{{msg}}</span>
					
					{% endif %}
					{% if st=="3" %}
					<span style="color:#0033FF">{{msg}}</span>
					{% endif %}
					
					</div>
				
				</div>
					
					
					
				
		
				
			</form>
			</div>		
		</div>
		</div>
</section>

<!-- ABOUT
================================================== -->
<section id="about" class="whitetext" style="padding:60px;background-color:#50dcc9;" >
	<div class="container">
		<div class="so-widget-sow-headline">
			<div class="sow-headline">
				<h1 class="whitetext">SMART ATM</h1>
			</div>
		</div>
		<br/>
		
							
	</div>
</section>

<!-- TEAM
================================================== -->


<!-- SERVICES
================================================== -->		

	
<!-- COUNTERS
================================================== -->


<!-- PRICING
================================================== -->

		

<!-- TESTIMONIAL
================================================== -->


<!-- BLOG
================================================== -->

		
<!-- CONTACT
================================================== -->

<!-- THE END OF SECTIONS -->	
	
<!-- FOOTER
================================================== -->
<footer id="footer" class="footer2">
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<small>
					Smart ATM <a href="https://www.wowthemes.net/">
							 
							</a>
					</small>
				</div>
				<div class="col-md-6 text-right">
					<div class="footer-menu">
						<ul id="menu-footer-links" class="menu">
							<li><a href="#"><i class="fa fa-facebook"></i> Like us on Facebook</a></li>
							<li><a href="#"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- SCRIPTS
================================================== -->
<script src="../static/assets/js/jquery.js"></script>
<script src="../static/assets/js/plugins.js"></script>


</body>
</html>
